@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
  font-family: "Market Sans", Arial, sans-serif;
}
body {
  /* font-family: "helvetica neue", Helvetica, Arial, sans-serif; */
  font-weight: 400;
}
